In [102]:
from sklearn import datasets
iris = datasets.load_iris()
X = iris.data
y = iris.target

In [110]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/data/master/delaney_solubility_with_descriptors.csv')
print(df)

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1144 rows x 5 columns]

In [111]:

df.isnull()

      MolLogP  MolWt  NumRotatableBonds  AromaticProportion   logS
0       False  False              False               False  False
1       False  False              False               False  False
2       False  False              False               False  False
3       False  False              False               False  False
4       False  False              False               False  False
...       ...    ...                ...                 ...    ...
1139    False  False              False               False  False
1140    False  False              False               False  False
1141    False  False              False               False  False
1142    False  False              False               False  False
1143    False  False              False               False  False

[1144 rows x 5 columns]

In [112]:
df.isnull().sum()

MolLogP               0
MolWt                 0
NumRotatableBonds     0
AromaticProportion    0
logS                  0
dtype: int64

In [113]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1139    False
1140    False
1141    False
1142    False
1143    False
Length: 1144, dtype: bool

In [114]:
data = df.drop_duplicates()
data

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1129 rows x 5 columns]

In [115]:
data.describe()

,MolLogP,MolWt,NumRotatableBonds,AromaticProportion,logS
count,1129.000000,1129.000000,1129.000000,1129.000000,1129.000000
mean,2.448913,204.653439,2.175376,0.363141,-3.061477
std,1.867872,102.533078,2.631855,0.343093,2.090722
min,-7.571400,16.043000,0.000000,0.000000,-11.600000
25%,1.414900,122.127000,0.000000,0.000000,-4.328000
50%,2.348600,183.169000,1.000000,0.375000,-2.890000
75%,3.402200,270.372000,3.000000,0.666667,-1.600000
max,10.388600,780.949000,23.000000,1.000000,1.580000

In [116]:
X = data.drop(['logS'], axis=1)
X

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion
0     2.59540  167.850                0.0            0.000000
1     2.37650  133.405                0.0            0.000000
2     2.59380  167.850                1.0            0.000000
3     2.02890  133.405                1.0            0.000000
4     2.91890  187.375                1.0            0.000000
...       ...      ...                ...                 ...
1139  1.98820  287.343                8.0            0.000000
1140  3.42130  286.114                2.0            0.333333
1141  3.60960  308.333                4.0            0.695652
1142  2.56214  354.815                3.0            0.521739
1143  2.02164  179.219                1.0            0.461538

[1129 rows x 4 columns]

In [142]:
y = data.iloc[:,-1]
y

0      -2.180
1      -2.000
2      -1.740
3      -1.480
4      -3.040
        ...
1139    1.144
1140   -4.925
1141   -3.893
1142   -3.790
1143   -2.581
Name: logS, Length: 1129, dtype: float64

In [137]:
#y = data.logS
#y

In [143]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [145]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [146]:
y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

In [147]:
from sklearn.metrics import mean_squared_error, r2_score
lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)
lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)
print(lr_train_mse)

1.051510361388048

In [148]:
lr_results = pd.DataFrame(['Linear regression',lr_train_mse, lr_train_r2, lr_test_mse, lr_test_r2]).transpose()
lr_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']
print(lr_results)

              Method Training MSE Training R2  Test MSE   Test R2
0  Linear regression      1.05151    0.766714  0.838788  0.779629

In [149]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(max_depth=2, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, random_state=42)

In [150]:
y_rf_train_pred = rf.predict(X_train)
y_rf_test_pred = rf.predict(X_test)

In [151]:
from sklearn.metrics import mean_squared_error, r2_score
rf_train_mse = mean_squared_error(y_train, y_rf_train_pred)
rf_train_r2 = r2_score(y_train, y_rf_train_pred)
rf_test_mse = mean_squared_error(y_test, y_rf_test_pred)
rf_test_r2 = r2_score(y_test, y_rf_test_pred)

In [152]:
rf_results = pd.DataFrame(['Random forest',rf_train_mse, rf_train_r2, rf_test_mse, rf_test_r2]).transpose()
rf_results.columns = ['Method','Training MSE','Training R2','Test MSE','Test R2']
print(rf_results)

          Method Training MSE Training R2  Test MSE   Test R2
0  Random forest     1.098492    0.756291  0.930647  0.755496